<div class="">
    <div class="card-body">
      <div class="row m-0">
    
        <div class="col-md-2 col-12">
          <button class="btn btn-primary"[routerLink]="['/home/applinces/addapplince/new']">Add Appliances</button>&nbsp;&nbsp;
        </div>
      </div>
      <br>
          <div class="row m-0">
            <kendo-grid #gridUser [kendoGridBinding]="griddata" [pageSize]="15" [pageable]="true" [sortable]="true"
              [filterable]="false" [selectable]="true" [groupable]="false" [reorderable]="true" class="module-box" style="
                width:100%;"
              >
              <kendo-grid-column *ngFor="let column of gridColumns" [field]="column.field" [title]="column.title"
              [headerStyle]="{'line-height': '1em'}" [width]="80">
              </kendo-grid-column>
              <kendo-grid-column field="App_IsActive" title="Active"
              [headerStyle]="{'line-height': '1em'}" [width]="80"
              filter="boolean">
             
              <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex" >
                <div class="custom-control custom-switch">
                  <input type="checkbox" (change)="checkChange($event, dataItem)"
                      class="custom-control-input" id="switchisActive{{i}}"
                      [checked]="dataItem.App_IsActive">
                  <label class="custom-control-label"
                      for="switchisActive{{i}}"></label>
              </div>
              </ng-template>
            </kendo-grid-column>
  
              <kendo-grid-column title="Action" width="80"
              [headerStyle]="{'line-height': '1em'}">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <a class="edit" data-toggle="tooltip" (click)="showDetails($event, dataItem)" data-placement="top"
                    title="view Records" [routerLink]="['/home/iplcompany/addiplcompany']">
                    <i class="fa fa-eye"></i>
                  </a>&nbsp;&nbsp;
                  <!-- <a class="edit" data-toggle="tooltip" (click)="deleteDetails($event, dataItem)" data-placement="top"
                    title="Delete Record" style="cursor: pointer">
                    <i class="fa fa-trash"></i>
                  </a> -->
                </ng-template>
              </kendo-grid-column>
  
              <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
                <kendo-pager-next-buttons></kendo-pager-next-buttons>
                <kendo-pager-info></kendo-pager-info>
                <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
              </ng-template>
            </kendo-grid>
          
          </div> 
        </div> 
      </div>
          
