<div class="">
  <div class="">
    <div class="module-box card-body">
    <div class="">
      <!-- <h3>Add User</h3> -->
      
      <form [formGroup]="form" >
      <div class="row">
        <div class="col-1">
          <b> <label >Title</label></b> 
        </div>
        <div class="col-5">
          {{userquesModelObj.Question_Title}}
        <!-- <input type="text" class="form-control" [(ngModel)]="userquesModelObj.Question_Title"
        formControlName="Question_Title" placeholder="Enter title"> -->
        </div>
        <div class="col-1">
          <b> <label > Date</label></b>
        </div>
        <div class="col-5">
          {{userquesModelObj.Question_Date}}
        <!-- <select formControlName="Question_Status" (change)="onStatusChanged($event)" [(ngModel)]="userquesModelObj.Question_Status" class="form-control">  
          <option value="0" disabled>Select Status</option>  
         
          <option value="1">Pending</option>  
          <option value="2">In Developement</option>  
          <option value="3">Closed</option>  
          <option value="4">Open</option>  
         
      </select>  -->
        </div>
      </div>
      <br>
      <div class="row">
        
        <div class="col-1">
          <b> <label >Descriptons</label></b>
        </div>
        <div class="col-11">
          {{userquesModelObj.Question_Desc}}
       <!-- <textarea class="form-control" [(ngModel)]="userquesModelObj.Question_Desc"
       formControlName="Question_Desc" rows="5" ></textarea> -->
        </div>
      </div>
     
      <div class="row mt-5">
        <!-- <div class="col-1">
           <label >Title</label> 
        </div>
        <div class="col-5">
         
        <input type="text" class="form-control" [(ngModel)]="userquesModelObj.Question_Title"
        formControlName="Question_Title" placeholder="Enter title">
        </div> -->
        <div class="col-2">
          <label > Status</label>
        </div>
        <div class="col-4">
        
        <select formControlName="Question_Status" (change)="onStatusChanged($event)" [(ngModel)]="userquesModelObj.Question_Status" class="form-control">  
          <option value="0">Select Status</option>  
         
          <option value="1">Open</option>
          <option value="2">Pending</option>  
          <!-- <option value="2">In Developement</option>  -->
         
          <option value="3">Closed</option>  
          <!-- <option *ngFor="let status of statusList">{{status.status}}</option>   -->
      </select> 
      <!-- <span *ngIf="hasDropDownError">Select Status</span> -->
      <span *ngIf="this.form.get('Question_Status').touched && this.form.get('Question_Status').invalid" class="error">
        <span *ngIf="this.form.get('Question_Status').errors.required">
        <b> *</b>
        </span>
        <!-- <span *ngIf="this.form.get('Quest_Ans_ReplDesc').errors.pattern">{{alphabetMessage}}
        </span>
        <span *ngIf="this.form.get('Quest_Ans_ReplDesc').errors.maxlength">{{inputMaxMessage}}
        </span> -->
    </span>
        </div>
      </div>
      <br>
      <div class="row">
        
        <div class="col-2">
          <label >Reply Comment :</label>
        </div>
        <div class="col-10">
         
       <textarea class="form-control" [(ngModel)]="userquesModelObj.Quest_Ans_ReplDesc"
       [ngClass]="{'error-border':form.controls['Quest_Ans_ReplDesc'].dirty && !form.controls['Quest_Ans_ReplDesc'].valid}"
       formControlName="Quest_Ans_ReplDesc" rows="5" ></textarea>
       <span *ngIf="this.form.get('Quest_Ans_ReplDesc').touched && this.form.get('Quest_Ans_ReplDesc').invalid" class="error">
        <span *ngIf="this.form.get('Quest_Ans_ReplDesc').errors.required">
        <b> *</b>
        </span>
       
    </span>
        </div>
        
      </div>
      <div class="row mt-5">
        <div class="col-md-3 col-12">
          <input type="submit" class="btn btn-primary"  (click)="submit()" value="Save">&nbsp;&nbsp;
          <button class="btn btn-primary"[routerLink]="['/home/questions/viewlist']" style="margin-left: 20px;">Back</button>
        </div>
        
      </div>
    </form>
    </div>
    </div>
  </div>
</div>

