<div class="container-fluid">

  <div class="row">
    <div class="">
      <div class="">
        <form [formGroup] ="formUsrCommonGroup" (ngSubmit)="formButton(contentx)">
        <!-- <iplapp-content-header title="Categories" [buttons]="buttons"
          (clickButton)="addcategory($event, addcategoryForm)"></iplapp-content-header>
           -->
           <div class="row">
            <div class="col-md-4">
                
                <input type="text" [(ngModel)]="AddCategoryModelObj.Cat_Name" formControlName="Cat_Name"
                 class="form-control" placeholder="Enter Category Name...">

            </div>
            
            
            <div class="col-md-2">
                <a class="btn btn-primary" (click)="addRow(AddCategoryModelObj)"> <i class="fa fa-plus fa-sm" aria-hidden="true"></i>&nbsp; Add</a>
            </div>
        </div><br>
          
        <div class="module-subheader p-1 pl-2">

          <!-- <iplapp-filter-form [modelObj]="ViewContractorCategoryModelObj" [formFilters]="filters"
            (filterCall)="filterCall()" (clearData)="clearData()" (saveFilterData)="saveFilterData()">
          </iplapp-filter-form> -->
        </div>

        <div class="row m-0 module-box">
          <kendo-grid #gridUser [kendoGridBinding]="griddata" [pageSize]="15" [pageable]="true" [sortable]="true"
            [filterable]="true" [selectable]="true" [groupable]="false" [skip]="state.skip" [sort]="state.sort"
            [filter]="state.filter" (dataStateChange)="dataStateChange($event)">

            <kendo-grid-column field="Cat_Name" title="Category Name" [width]="200">
            </kendo-grid-column>

            <kendo-grid-column field="Cat_IsActive" title="Active" [width]="80" filter="boolean">
              <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex">
                <div class="custom-control custom-switch">
                  <input type="checkbox" (change)="checkChange($event.target.checked?true:false, dataItem)" class="custom-control-input"
                    id="switchisActive{{i}}" [checked]="dataItem.Cat_IsActive">
                  <label class="custom-control-label" for="switchisActive{{i}}"></label>
                </div>
                <!-- <input type="checkbox" [checked]="dataItem.Con_Cat_IsActive" disabled /> -->
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column title="Action" width="80">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <!-- <a class="edit" data-toggle="tooltip" (click)="showDetails($event, dataItem)"
                  data-placement="top" title="View Record" style="cursor: pointer">
                  <i class="fa fa-eye"></i>
                </a> &nbsp;&nbsp; -->
                <a class="edit" data-toggle="tooltip" (click)="deleteDetails($event, dataItem)" data-placement="top"
                  title="Delete Record" style="cursor: pointer">
                  <i class="fa fa-trash"></i>
                </a>
              </ng-template>
            </kendo-grid-column>


            <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
              <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
              <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
              <kendo-pager-next-buttons></kendo-pager-next-buttons>
              <kendo-pager-info></kendo-pager-info>
              <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
            </ng-template>
          </kendo-grid>
        </div>
       </form>
      </div>
    </div>
  </div>
</div>
<!-- <ng-template class="module-box" #addcategoryForm let-modal>
  <div class="modal-header">
    <div>
      <h4 class="">Category
      </h4>
    </div>
    
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [ngClass]="{ 'HelpCursor': isHelpActive }">
    <div style="box-shadow: 0 0 4px gray ;" class="p-2">
      
      <div class="form-row">
        <div class="form-group col-md-12 text-center module-subheader">
          <h5 style="color: black;">Add Category
            <a class="pull-right" data-toggle="tooltip" (click)="SetHelpFlag()" data-placement="top" title="Item Help"
            style="cursor: pointer;">
            <i class="fas fa-question"></i>
          </a> &nbsp;&nbsp;</h5>
        </div>
        <br>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputEmaildfsdfd4" class="col-form-label" [ngClass]="{ 'HelpCursor': isHelpActive }"
            (click)="DispalyInfo($event,'Category Name')">
            Category Name
            <span style="color: red">*</span>
          </label>
        </div>
        <div class="form-group col-md-8">
          <input type="text" class="form-control" [value]="Cat_Name" (change)="contractorCategoryHandler($event)"
            style="width:100%; height: 100%;" [ngClass]="{ 'HelpCursor': isHelpActive }"
            (click)="DispalyInfo($event,'Category Name')" [readonly]="isHelpActive" />
        </div>
      </div>
      
      <div [formGroup]="myFormGroup" class="form-row">
        <div class="form-group col-md-2">
          <label for="inputEmaildfsdfd4" class="col-form-label" [ngClass]="{ 'HelpCursor': isHelpActive }"
            (click)="DispalyInfo($event,'Icon')">
            Icon
          </label>
        </div>
        <div class="form-group col-md-2  d-flex justify-content-center align-items-center">
          <span class="input-group-addon"><i [ngClass]="iconCss.value" [ngStyle]="{'color': iconColor}"></i></span>
        </div>
        
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputEmaildfsdfd4" class="col-form-label" [ngClass]="{ 'HelpCursor': isHelpActive }"
            (click)="DispalyInfo($event,'Active')">
            Active
            <span style="color: red">*</span>
          </label>
        </div>
        <div class="form-group col-md-8 d-flex align-items-center">
          <input type="checkbox" class="form-control" [(ngModel)]="isActive"
            (change)="checkValue(isActive?'True':'False')" style="width: 25px; height: 25px;"
            [ngClass]="{ 'HelpCursor': isHelpActive }" (click)="DispalyInfo($event,'Active')" />
        </div>
      </div>
      <div class="form-row">
        <div class="float-right">
         
          <button class="btn btn-primary mr-1" *ngIf="isUpdateDisable" (click)="updateForms()">
            <i class="far fa-update mr-1"></i> Update</button>
          <button class="btn btn-primary mr-1" *ngIf="!isUpdateDisable" (click)="saveForms()">
            <i class="far fa-save mr-1"></i> Save</button>
          
        </div>
      </div>
    </div>
  </div>
</ng-template> -->

<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="timer" [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner> -->