<div class="">
  <div class="card-body">
    <div class="row m-0">
  
      <div class="col-2">
        <button class="btn btn-primary"[routerLink]="['/home/user/adduser/new']">Add User</button>&nbsp;&nbsp;
      </div>
    </div>
    <br>
    <div class="row m-0">
        <kendo-grid #gridUser [kendoGridBinding]="griddata" [pageSize]="15" [pageable]="true" [sortable]="true"
        [filterable]="true" [selectable]="true" [groupable]="false"
        [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" (dataStateChange)="dataStateChange($event)"
        >

        <kendo-grid-column field="User_Name" title="User Name">
        </kendo-grid-column>
        <kendo-grid-column field="User_Email" title="User Email">
        </kendo-grid-column>
        <kendo-grid-column field="User_Phone" title="User Phone">
        </kendo-grid-column>
        <kendo-grid-column title="Action" width="80">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <a  (click)="showDetails(dataItem)" ><i class="fa fa-eye" aria-hidden="true"></i></a>
           
         &nbsp;&nbsp;
            <a  (click)="deleteDetails($event, dataItem)" ><i class="fa fa-trash" aria-hidden="true"></i></a>
             
           
          </ng-template>
        </kendo-grid-column>

        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
          <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
          <kendo-pager-next-buttons></kendo-pager-next-buttons>
          <kendo-pager-info></kendo-pager-info>
          <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
        </ng-template>
      </kendo-grid>
    </div>
  </div>
</div>
