<div class="container">
    <div class="card">
        <div class="card-body">
            <form [formGroup] ="formUsrCommonGroup" (ngSubmit)="formButton()">
                <div class="form-group col-md-12 text-center module-subheader" >
                    <h5 > Vendor Info </h5>
                  </div>
                <div class="row">
                    <div class="form-group  col-xl-4">
                        <label for="password" >Vendor Name<span style="color: red">*</span></label>

                        <input type="text" id = "Name" 
                        [(ngModel)] = "AddVendorMasterModelObj.Ven_Name" 
                        
                         formControlName="Ven_Name"class="form-control" placeholder="Enter Vendor Name ">
                         
                        </div>
                        <div class="form-group  col-xl-4">
                            <label for="password">Phone Number<span style="color: red">*</span></label>&nbsp;&nbsp;
                            <input type="text" id = "Name"
                              [(ngModel)] = "AddVendorMasterModelObj.Ven_PhoneNumber"  formControlName="Ven_PhoneNumber"class="form-control" placeholder="Enter Phone number ">
                              
                            
                           
                            </div>
                            <div class="form-group  col-xl-4">
                                <label for="Number">Mobile number<span style="color: red">*</span></label>&nbsp;&nbsp;
                               
                                <input type="text" id = "Name"
                                [(ngModel)] = "AddVendorMasterModelObj.Ven_MobileNumber"  formControlName="Ven_MobileNumber"class="form-control" placeholder="Enter Mobile number ">
                                </div>
                                </div>
               
                            <div class="row">
                                    <div class="form-group  col-xl-6">
                                        <label for="Number">Address<span style="color: red">*</span></label>&nbsp;&nbsp;
                                       
                                        <textarea  id ="Name" class="form-control"
                                 [(ngModel)]="AddVendorMasterModelObj.Ven_Address" formControlName="Ven_Address" placeholder="Enter Address"></textarea>
                                        </div>
                                        <div class="form-group  col-xl-5">
                                            <label for="Number">Zip<span style="color: red">*</span></label>&nbsp;&nbsp;
                                           
                                            <input type="text" id = "Name" 
                                       [(ngModel)] = "AddVendorMasterModelObj.Ven_zip" 
                        
                                        formControlName="Ven_zip"class="form-control" placeholder="Enter Zip ">
                                            </div>
                                            
                                    </div>
                                    
                                  

                                   

                               
                            <div class="row">
                            
                                <div class="form-group  col-md-6">
                                    <input type="submit" class="btn btn-primary" value="Submit">&nbsp;&nbsp;
                                    <button id="client_viewdetail_1" [routerLink]="['/home/vendormaster/viewvendormaster']" class="btn btn-primary"
                                    style="margin-left:6px"><i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>
                                </div>
                               
                                </div>

            </form>
            </div>
        </div>
    </div>  


