<div class="sb2-2">
    
    <div class="row">
        
        <div class="box-inn-sp">
            <div class="tab-inn">
                <div class="row">
                    <div class="input-field col s6" style="text-align: left;">
                        <h3 style="margin-left: 15px;">Users Questions List</h3>
                    </div>
                    
                </div>
                <!-- <div class="row m-0">
  
                    <div class="col-2">
                      <button class="btn btn-primary"[routerLink]="['/home/questions/add']">Add New Questions</button>&nbsp;&nbsp;
                    </div>
                  </div> -->
                  <br>
              
                <div class="row m-0">
                    <kendo-grid #gridUser [kendoGridBinding]="gridView" [pageSize]="15" [pageable]="true" [sortable]="true"
                          [filterable]="false" [selectable]="true" [groupable]="false" class="module-box" style="width:100%;">
                          <!-- <kendo-grid-column *ngFor="let column of gridColumns" 
                            [field]="column.field" 
                            [title]="column.title" 
                            [headerStyle]="{'line-height': '1em'}" 
                            [width]="80">
                          </kendo-grid-column> -->
                          
                         
                   <kendo-grid-column width="100" field="Question_Title"  title="Title" [headerStyle]="{'line-height': '1em'}"></kendo-grid-column>
                   <kendo-grid-column  width="70" field="Status"  title="Question Status"  [headerStyle]="{'line-height': '1em'}"></kendo-grid-column>
                  
                   <kendo-grid-column  width="70" field="Question_Date"  title="Question Date"  [headerStyle]="{'line-height': '1em'}"></kendo-grid-column>
                   
                  
                    <kendo-grid-column title="Action" width="80">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                           
                          <a  (click)="showDetails(dataItem)" ><i class="fa fa-eye" aria-hidden="true"></i></a>
                        
                        </ng-template>
                      </kendo-grid-column>
              
                          <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                            <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
                            <kendo-pager-next-buttons></kendo-pager-next-buttons>
                            <kendo-pager-info></kendo-pager-info>
                            <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
                          </ng-template>
                        </kendo-grid>
                      </div>
            </div>
        </div>

    </div>

</div>