<div class="">
  <div class="">
    <div class="card-body module-box">
      <form [formGroup]="formUsrCommonGroup" (ngSubmit)="FormButton()">
     <div class="row">
       <div class="col-2">
         <label>Appliance Name <span style="color: red;">*</span></label>
       </div>
       <div class="col-4">
       <input type="text" class="form-control" placeholder="Enter Appliances" [ngClass]="{ 'is-invalid': submitted && fx.Nameval.errors }"
       [(ngModel)]="AddApplincesModelObj.App_Apliance_Name" formControlName="Nameval">
         <div *ngIf="submitted && fx.Nameval.errors" class="invalid-feedback">
           <div *ngIf="fx.Nameval.errors.required">this field is required</div>
        </div>
      </div>
     </div>
     <br>
     <div class="row">
      <div class="col-2">
        <label>Active</label>
      </div>
      <div class="col-4">
      <input type="checkbox"  [(ngModel)]="AddApplincesModelObj.App_IsActive"  formControlName="activeval">
     </div>
    </div>
    <br>
    <!-- <div class="row">
      <div class="col-2">
      
       </div>
      <div class="col-2">
       <input type="submit" class="btn btn-primary" value="Save">
      </div>
    
    </div> -->
    <div class="row m-0 justify-content-left">
      <div class="form-row">
        <div class="float-right">
          <label *ngIf="formUsrCommonGroup.invalid" style="color:red">*
            fields is required
          </label> <br>
        
          <a href="javascript:void(0)" *ngIf="IsEditDisable" (click)="EditForms()"
            class="btn btn-primary waves-effect waves-light mr-2"> <i class="fa fa-edit mr-1"></i> Edit </a>
          
          <button type="submit" *ngIf="!IsEditDisable" class="btn btn-primary waves-effect waves-light mr-2"
            [disabled]="isLoading">
            <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
            {{button}}</button> 

          <a [routerLink]="['/home/applinces/details']" class="btn btn-primary"><i
              class="fas fa-arrow-alt-circle-left mr-1"></i> Back</a>
        </div>
      </div>
    </div> 
    </form>
        </div> 
      </div>
        </div>  
 