<div class="sb2-2">

    <div class="row">
        <div class="col-2">
            <button class="btn btn-primary"[routerLink]="['/home/addvendormaster/addnewvendormaster']">Add Vendor</button>&nbsp;&nbsp;
            <!-- <button class="btn btn-primary"[routerLink]="['/iplcompany/viewiplcompany']">Back</button> -->
          </div>
        <br>
        <br>
        <div class="box-inn-sb">
            <div class="tab-inn">
                <div class="row">
                    <div class="input-field col s6" style="text-align: left;">
                        <h3 style="margin-left: 15px;">Vendor List</h3>
                    </div>
                    <!-- <div class="input-field col s6" style="text-align: right;">
                    <button [routerLink]="['/user-master/user-master-form']" style="margin-right: 10px;"
                            class="btn btn-primary">New User</button>
                        </div> -->
                </div><br><br>

                <div class="row m-0">
                    <kendo-grid #gridUser [kendoGridBinding]="griddata" [pageSize]="10" [pageable]="true"
                    style="height: 400px; width: 1100px;"  [sortable]="true" [filterable]="true" [selectable]="true" [groupable]="false"
                        [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
                        (dataStateChange)="dataStateChange($event)">

                        
                        <!-- <kendo-grid-column width="150" title="Images"
                        [headerStyle]="{'line-height': '1em'}">
                        <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="col-sm-4">
                                        <img src="{{dataItem.TR_ImagePath}}" height="80" width="100"
                                            style="border-radius:10px;" alt="" />
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="col-sm-4">
                                       
                                        
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-grid-column> -->
                         
              

                        <kendo-grid-column width="90" field="Ven_Name" title="Vendor Name"
                            >
                        </kendo-grid-column>
                        
                        <kendo-grid-column width="100" field="Ven_PhoneNumber" title="Phone Number"
                            >
                        </kendo-grid-column>


                        <kendo-grid-column width="100" field="Ven_MobileNumber" title="Mobile Number"
                            >
                        </kendo-grid-column>


                       
                        <kendo-grid-column width="100" field="Ven_zip" title="Zip"
                            >
                        </kendo-grid-column>
                        
                        
                        
                        
                        
                        
                    
                        
                        
                        
                        <kendo-grid-column field="Ven_IsActive" title="Active" [width]="80" filter="boolean">
                            <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex">
                              <div class="custom-control custom-switch">
                                <input type="checkbox" (change)="checkChange($event.target.checked?true:false, dataItem)" class="custom-control-input"
                                  id="switchisActive{{i}}" [checked]="dataItem.Ven_IsActive">
                                <label class="custom-control-label" for="switchisActive{{i}}"></label>
                              </div>
                              <!-- <input type="checkbox" [checked]="dataItem.Con_Cat_IsActive" disabled /> -->
                            </ng-template>
                          </kendo-grid-column>
              
                          <kendo-grid-column title="Action" width="80">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                              <a class="edit" data-toggle="tooltip" (click)="showDetails($event, dataItem)"
                                data-placement="top" title="View Record" style="cursor: pointer">
                                <i class="fa fa-eye"></i>
                              </a> &nbsp;&nbsp;
                              <a class="edit" data-toggle="tooltip" (click)="deleteDetails($event, dataItem)" data-placement="top"
                                title="Delete Record" style="cursor: pointer">
                                <i class="fa fa-trash"></i>
                              </a>
                            </ng-template>
                          </kendo-grid-column>


                        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                            <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
                            <kendo-pager-next-buttons></kendo-pager-next-buttons>
                            <kendo-pager-info></kendo-pager-info>
                            <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
                        </ng-template>
                    </kendo-grid>
                </div>
            </div>

        </div>

    </div>

</div>



