<div *ngIf="isDataLoading | async">
    <!-- <mat-progress-spinner class="spinner" diameter="40" 
    [mode]="mode">Plese Wait...</mat-progress-spinner> -->
    <label>Please Wait...</label>
</div>
<!-- <div *ngIf="isDataLoading | async">
    
    <div class="loader-inner">
        <div class="loader">
          <div id="top" class="mask">
            <div class="plane"></div>
          </div>
          <div id="middle" class="mask">
            <div class="plane"></div>
          </div>
          <div id="bottom" class="mask">
            <div class="plane"></div>
          </div>   
          <img src="/assets/img/img-logo/app-icon-example.gif" style="width: 75px; height: 46px;">           
          
        </div>
    </div>
</div> -->