<div class="container">
    <div class="card">
        <div class="card">
            <form [formGroup] ="formUsrCommonGroup" (ngSubmit)="formButton()">
                <div class="form-group col-md-12 text-center module-subheader" >
                    <h5 >Product Info </h5>
                  </div>
                <div class="row">
                    <div class="form-group  col-xl-4">
                        <label for="password">BrandName<span style="color: red">*</span></label>&nbsp;&nbsp;

                        <input type="text" id = "Name"
                        [(ngModel)] = "AddAppproductModelObj.Pro_BrandName"  formControlName="brandname"class="form-control" placeholder="Enter Product BrandName ">
                        </div>
                        <div class="form-group  col-xl-4">
                            <label for="password">Gender<span style="color: red">*</span></label>&nbsp;&nbsp;
                            <select class="form-control" (change)="onGenderChanged($event)" [(ngModel)]="AddAppproductModelObj.Pro_Gender"
                             formControlName="gender" >
             
                            <option [ngValue]="kb.Id" *ngFor="let kb of genderlist">
                             {{kb.Name}}
                          </option>
                          </select>
    
                            
                           
                            </div>
                            <div class="form-group  col-xl-4">
                                <label for="password">Detail<span style="color: red">*</span></label>&nbsp;&nbsp;
        
                                <input type="text" id = "Name"
                                [(ngModel)] = "AddAppproductModelObj.Pro_Detail"  formControlName="detail"class="form-control" placeholder="Enter product Details ">
                               
                                </div>
                            </div>
                                <div class="row">
                            <div class="form-group  col-xl-4">
                                <label for="password">Color<span style="color: red">*</span></label>&nbsp;&nbsp;
        
                                <kendo-dropdownlist id = 'Name'
                                [data]="collist"
                               [defaultItem]="defaultColourItem"
                               [filterable]="true"
                               [textField]="'Col_Name'"
                               [valueField]="'Col_PkeyID'"
                               (filterChange)="ColourFilter($event)"
                               
                               [(ngModel)]="AddAppproductModelObj.Pro_Color"
                               [valuePrimitive]="true"
                               formControlName="color"
                             >
                              </kendo-dropdownlist>
                               
                                </div>
                
                               
                                
 
                    

                    
                        <div class="form-group  col-xl-4">
                            <label for="Number">Category<span style="color: red">*</span></label>&nbsp;&nbsp;
                            <kendo-dropdownlist id = 'Name'
                            [data]="catlist"
                           [defaultItem]="defaultTaskItem"
                           [filterable]="true"
                           [textField]="'Cat_Name'"
                           [valueField]="'Cat_Pkey'"
                           (filterChange)="CategoryFilter($event)"
                           (valueChange)="CategoryvalueChange($event)"
                           [(ngModel)]="AddAppproductModelObj.Pro_Category"
                           [valuePrimitive]="true"
                           formControlName="category"
                         >
                          </kendo-dropdownlist>
                            <!-- <input type="text" id = "Name"
                             [(ngModel)] = "AddAppproductModelObj.Pro_Category"  formControlName="category"class="form-control" placeholder="Enter Category "> -->
                            </div>
                            <div class="form-group  col-xl-4">
                                <label for="Number">Sub Category<span style="color: red">*</span></label>&nbsp;&nbsp;
                                <kendo-dropdownlist [readonly]="isReadonly?true:false" id = 'Name'
                                [data]="SubList"
                               [defaultItem]="defaultTestItem"
                               [filterable]="true"
                               [textField]="'SubCat_Name'"
                               [valueField]="'SubCat_Pkey'"
                               (filterChange)="SubCatFilter($event)"
                               [(ngModel)]="AddAppproductModelObj.Pro_SubCategory"
                               [valuePrimitive]="true"
                               formControlName="subCategory"
                             >
                              </kendo-dropdownlist>
                                <!-- <input type="text" id = "Name"
                                [(ngModel)] = "AddAppproductModelObj.Pro_SubCategory"  formControlName="subCategory"class="form-control" placeholder="Enter  Sub Category"> -->
                                </div>
                                </div>
                                <div class="row">
                                <div class="form-group  col-xl-4">
                                    <label for="Number">Condition<span style="color: red">*</span></label>&nbsp;&nbsp;
            
                                    <input type="text" id = "Name"
                                    [(ngModel)] = "AddAppproductModelObj.Pro_Condition"  formControlName="condition"class="form-control" placeholder="Enter Condition">
                                    </div>
                                    <div class="form-group  col-xl-4">
                                        <label for="Number">Size<span style="color: red">*</span></label>&nbsp;&nbsp;
                
                                        <input type="text" id = "Name"
                                        [(ngModel)] = "AddAppproductModelObj.Pro_Size"  formControlName="size"class="form-control" placeholder="Enter Size">
                                        </div>
     
                        
                        
                            <div class="form-group  col-xl-4">
                                <label for="password">Bin Name<span style="color: red">*</span></label>&nbsp;&nbsp;
                                <kendo-dropdownlist id = 'Name'
                                [data]="BinList"
                               [defaultItem]="defaultMenuItem"
                               [filterable]="true"
                               [textField]="'Bin_Name'"
                               [valueField]="'Bin_PkeyID'"
                               (filterChange)="BinFilter($event)"
                               [(ngModel)]="AddAppproductModelObj.Pro_Bin_PkeyID"
                               [valuePrimitive]="true"
                               formControlName="binPkey"
                             >
                              </kendo-dropdownlist>
                                <!-- <input type="text" id = "Name"
                                [(ngModel)] = "AddAppproductModelObj. Pro_Bin_PkeyID"  formControlName="binPkey"class="form-control" placeholder="Enter Bin ID "> -->
                                </div>
                                </div>
                                <!-- <div class="form-group col-xl-6">
                                    <label for="HP_IsActive">Active Court</label>
                                    <select class="form-control"  [(ngModel)]="AddAppproductModelObj.HP_IsActive"
                                    formControlName="HP_IsActive"  (change)="onIsActiveChanged($event)">
                    
                                  <option [ngValue]="kb.HP_IsActive" *ngFor="let kb of ProductActivelist">
                                  {{kb.HP_IsActive}}
                                   </option>
                                   </select>
                                </div> -->
                            <div class="row">
                                

                                <!-- <div class="row">
                                    <div class="form-group  col-xl-12">
                                        <label for="Hp_Image">Upload Images</label>
                                        <input type="file" [(ngModel)]="AddAppproductModelObj.Hp_Image" formControlName="imageUpload"  (change)="fileChange($event,input)" #input class="img-upload-btn" />
            
                                        <button class="btn btn-info btn-block rounded-0" type="button">
                                            <span *ngIf="!image"><i class="fa fa-upload"></i> Select Image... </span>
                                            <span *ngIf="image"><i class="fa fa-refresh"></i> Change Image... </span>
                                        </button>
            
                                        <div class="image-wrapper">
                                            <i *ngIf="image" class="fa fa-times delete-img" (click)="removeImage()"></i>
                                            <img [attr.src]="image" *ngIf="image" height="160px" width="100%">
                                            <img src="assets/img/app/no-image.png" *ngIf="!image" height="160px" width="100%">
                                        </div>
            
                                    </div>  
                                </div>     -->
                                <div class="form-group  col-xl-4">
                                    <label for="password">Bin Unit<span style="color: red">*</span></label>&nbsp;&nbsp;
            
                                    <input type="text" id = "Name"
                                    [(ngModel)] = "AddAppproductModelObj.Pro_Bin_Unit"  formControlName="binUnit"class="form-control" placeholder="Enter Bin Unit ">
                                    </div>
                                    <div class="form-group  col-xl-4">
                                        <label for="password">Bin Shelf<span style="color: red">*</span></label>&nbsp;&nbsp;
                
                                        <input type="text" id = "Name"
                                        [(ngModel)] = "AddAppproductModelObj.Pro_Bin_Shelf"  formControlName="binShelf"class="form-control" placeholder="Enter Bin Shelf ">
                                       
                                           
                                    </div>
                                    <div class="form-group  col-xl-4">
                                        <label for="password">Product Name<span style="color: red">*</span></label>&nbsp;&nbsp;
                
                                        <input type="text" id = "Name"
                                        [(ngModel)] = "AddAppproductModelObj.Pro_Name"  formControlName="Pro_Name"class="form-control" placeholder="Enter Product Name ">
                                        </div>
                            </div>
                            <div class="row">
                                <div class="form-group  col-xl-4">
                                    <label for="password">Quantity<span style="color: red">*</span></label>&nbsp;&nbsp;
            
                                    <input type="text" id = "Name"
                                    [(ngModel)] = "AddAppproductModelObj.Pro_Qty"  formControlName="Pro_Qty"class="form-control" placeholder="Enter Quantity ">
                                    </div>
                                    <div class="form-group  col-xl-4">
                                        <label for="password">Price<span style="color: red">*</span></label>&nbsp;&nbsp;
                
                                        <input type="text" id = "Name"
                                        [(ngModel)] = "AddAppproductModelObj.Pro_Price"  formControlName="Pro_Price"class="form-control" placeholder="Enter Price ">
                                        </div>

                                        <div class="form-group  col-xl-4">
                                            <label for="password">Associated Cost<span style="color: red">*</span></label>&nbsp;&nbsp;
                    
                                            <input type="text" id = "Name"
                                            [(ngModel)] = "AddAppproductModelObj.Pro_Associated_Cost"  formControlName="Pro_Associated_Cost"class="form-control" placeholder="Enter Associated ">
                                            </div>
                            </div>
                            <div class="row">
                                <div class="form-group  col-xl-4">
                                    <label for="password">New Used<span style="color: red">*</span></label>&nbsp;&nbsp;
                                    <select class="form-control" (change)="onNewChanged($event)" [(ngModel)]="AddAppproductModelObj.Pro_new_Used"
                                     formControlName="Pro_new_Used" >
                     
                                    <option [ngValue]="kb.Id" *ngFor="let kb of newlist">
                                     {{kb.Name}}
                                  </option>
                                  </select>
            
                                    </div>
                                    <div class="form-group  col-xl-4">
                                        <label for="password">Celeb/Ent<span style="color: red">*</span></label>&nbsp;&nbsp;
                                        <select class="form-control" (change)="onCelbChanged($event)" [(ngModel)]="AddAppproductModelObj.Pro_Celeb_Ent"
                                         formControlName="Pro_Celeb_Ent" >
                         
                                        <option [ngValue]="kb.Id" *ngFor="let kb of celblist">
                                         {{kb.Name}}
                                      </option>
                                      </select>
                
                                        </div>

                                        <div class="form-group  col-xl-4">
                                            <label for="password">Vendor<span style="color: red">*</span></label>&nbsp;&nbsp;
                    
                                            <kendo-dropdownlist id = 'Name'
                                            [data]="venlist"
                                           [defaultItem]="defaultVendorItem"
                                           [filterable]="true"
                                           [textField]="'Ven_Name'"
                                           [valueField]="'Ven_PkeyID'"
                                           (filterChange)="VendorFilter($event)"
                                           
                                           [(ngModel)]="AddAppproductModelObj.Pro_Vendor"
                                           [valuePrimitive]="true"
                                           formControlName="Pro_Vendor"
                                         >
                                          </kendo-dropdownlist>
                                           
                                            </div>
                            </div>

                            <div class="row">
                                <div class="form-group  col-xl-4">
                                    <label for="password">Notes<span style="color: red">*</span></label>&nbsp;&nbsp;
            
                                    <input type="text" id = "Name"
                                    [(ngModel)] = "AddAppproductModelObj.Pro_Notes"  formControlName="Pro_Notes"class="form-control" placeholder="Enter Notes  ">
                                    </div>

                                    <div class="form-group  col-xl-4">
                                        <label for="password">Location<span style="color: red">*</span></label>&nbsp;&nbsp;
                
                                        <input type="text" id = "Name"
                                        [(ngModel)] = "AddAppproductModelObj.Pro_Location"  formControlName="Pro_Location"class="form-control" placeholder="Enter Location">
                                        </div>

                                        <div class="form-group  col-xl-4">
                                            <label for="password">Measurements<span style="color: red">*</span></label>&nbsp;&nbsp;
                    
                                            <input type="text" id = "Name"
                                            [(ngModel)] = "AddAppproductModelObj.Pro_Measurements"  formControlName="Pro_Measurements"class="form-control" placeholder="Enter Measurements">
                                            </div>
                            </div>

                            <div class="row">
                                <div class="form-group  col-xl-12">
                                  <label for="Number">Description</label>&nbsp;&nbsp;
                                     
                                      <textarea  id ="Name" class="form-control"
                                       [(ngModel)]="AddAppproductModelObj.Pro_Desc" formControlName="Pro_Desc" placeholder="Enter Description"></textarea>
                                  </div>
                              </div>
                            <!-- <div class="form-group col-md-6">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" [(ngModel)]="AddAppproductModelObj.HP_IsActive" formControlName="prodactiveval"
                                    class="custom-control-input" id="active">
                                  <label class="custom-control-label" for="active">Product Active </label>
                                </div>
                                </div> -->
                            <!-- <div class="form-group  col-xl-12">
                                <label for="checkbox">IsActive</label>&nbsp;&nbsp;
        
                                <input type="checkbox" id = "Name"
                                [(ngModel)] = "AddAppproductModelObj.HP_IsActive"  formControlName="websitelinkval"class="form-control">
                                </div> -->
                                <div class="row">
                                    
                                        <div class="form-group col-md-4">
                                            
                                            <label  for="active">Pull<span style="color: red">*</span> </label>
                                            <label class="switch ml-4">
                                                <input type="checkbox" [checked]="AddAppproductModelObj.Pro_Pull?true:false"   formControlName="pull" (change)=checkChangePull($event.target.checked?true:false)>
                                                
                                                <span class="slider round"></span>
                                              </label>
                                            </div>
                                        <div class="form-group  col-xl-4">
                                            
                                              
                                            <label  for="active">Sold <span style="color: red">*</span></label>
                                            <label class="switch ml-4">
                                                <input type="checkbox" [checked]="AddAppproductModelObj.Pro_Sold?true:false"  formControlName="sold" (change)="checkChangeSold($event.target.checked?true:false)">
                                                
                                                <span class="slider round"></span>
                                              </label>
                                            </div>
                                            
                                            <div class="form-group col-md-4">
                                            
                                                <label  for="active">Shot<span style="color: red">*</span> </label>
                                                <label class="switch ml-4">
                                                    <input type="checkbox" [checked]="AddAppproductModelObj.Pro_Shot?true:false"   formControlName="Pro_Shot" (change)=checkChangeShot($event.target.checked?true:false)>
                                                    
                                                    <span class="slider round"></span>
                                                  </label>
                                                </div>
                                    </div>  
                               

                                <div class="row">
                                    <div class="form-group  col-xl-6">
                                        <label for="ProImage_ImagePath">Upload Images<span style="color: red">*</span></label>
                                        <input type="file" multiple=""  [(ngModel)]="ProductImagesModelObj.ProImage_ImagePath" formControlName="imageUpload"  (change)="fileChange($event,input)" #input class="img-upload-btn" />
            
                                        <!-- <button class="btn btn-info btn-block rounded-0" type="button">
                                            <span *ngIf="!image"><i class="fa fa-upload"></i> Select Image... </span>
                                            <span *ngIf="image"><i class="fa fa-refresh"></i> Change Image... </span>
                                        </button> -->
            
                                        <!-- <div class="image-wrapper">
                                            <i *ngIf="image" class="fa fa-times delete-img" (click)="removeImage()"></i>
                                            <img [attr.src]="image" *ngIf="image" height="160px" width="100%">
                                            <img src="assets/img/app/no-image.png" *ngIf="!image" height="160px" width="100%">
                                            
                                        </div> -->
                                        <div  class="cover_pic gallery mt-2">
                                            <div class="coverImg" *ngFor="let data of MultiplaImagarray; let i = index">
                                                <img src="{{data.ProImage_ImagePath}}" alt="" />
                                            <!-- <img src="{{data}}" alt="" /> -->
                                           
                                            <a class="edit" data-toggle="tooltip" (click)="deleteData(data, i)"
                                            title="Delete Record" style="cursor: pointer; float: left;margin-top: 50px;">
                                            <i class="fa fa-trash"></i>
                                          </a>
                                         </div>
                                         
                                         </div>
                                      
                                    </div>  
                                </div>    

                            <div class="row">
                            
                                <div class="form-group  col-md-6">
                                    <input type="submit" class="btn btn-primary" value="Submit">&nbsp;&nbsp;
                                    <button id="client_viewdetail_1" [routerLink]="['/home/product/viewappproduct']" class="btn btn-primary"
                                    style="margin-left:6px"><i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>
                                </div>
                               
                                </div>

            </form>
            </div>
        </div>
    </div>  