        
   <div class="row m-0">
   
  
      <div class="col-2">
        <!-- <button class="btn btn-primary"[routerLink]="['/home/product/add/addproduct']">Add Product</button>&nbsp;&nbsp; -->
        <!-- <button class="btn btn-primary"[routerLink]="['/iplcompany/viewiplcompany']">Back</button> -->
      </div>
    <br>
    <br>
    <kendo-grid #gridUser [kendoGridBinding]="griddata" [pageSize]="15" [pageable]="true" [sortable]="true"
          [filterable]="true" [selectable]="true" [groupable]="false" class="module-box" style="width:100%;">
          <kendo-grid-column *ngFor="let column of gridColumns" 
            [field]="column.field" 
            [title]="column.title" 
            [headerStyle]="{'line-height': '1em'}" 
            [width]="80">
          </kendo-grid-column>
          <!-- <kendo-grid-column width="150" title="Images"
          [headerStyle]="{'line-height': '1em'}">
          <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex">
              <div class="row">
                  <div class="col-md-4">
                      <div class="col-sm-4">
                          <img src="{{dataItem.Bin_Image_Path}}" height="80" width="100"
                              style="border-radius:10px;" alt="" />
                      </div>
                  </div>
              </div>
          </ng-template>
      </kendo-grid-column> -->
      <kendo-grid-column width="150" title="Bin QR Image"
      [headerStyle]="{'line-height': '1em'}">
      <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex">
          <div class="row">
              <div class="col-md-4">
                  <div class="col-sm-4">
                      <img src="{{dataItem.Bin_QR_Path}}" height="80" width="100"
                          style="border-radius:10px;" alt="" />
                  </div>
              </div>
          </div>
      </ng-template>
  </kendo-grid-column>
          <kendo-grid-column title="Action"
            [headerStyle]="{'line-height': '1em'}" width="80">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <a class="edit" data-toggle="tooltip" (click)="showDetails($event, dataItem)" data-placement="top"
                title="View Record">
                <i class="fa fa-eye"></i>
              </a> &nbsp;&nbsp;
            </ng-template>
          </kendo-grid-column>

          <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
            <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
            <kendo-pager-next-buttons></kendo-pager-next-buttons>
            <kendo-pager-info></kendo-pager-info>
            <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
          </ng-template>
        </kendo-grid>
      </div>

