<div class="container">
    <div class="card">
        <div class="card-body">
            <form [formGroup] ="formUsrCommonGroup" (ngSubmit)="formButton()">
             
           

                         
                            <div class="form-group  col-md-6">
                                <label for="email">Email</label>
                               <input type="email" id = "email" 
                               [(ngModel)] = "UserMasterObj.User_Email"  formControlName="useremailval"class="form-control" placeholder="Enter your email ">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group  col-md-6">
                                <label for="password">Password</label>
                                <input type="password" id = "password" 
                                [(ngModel)] = "UserMasterObj.User_Password"  formControlName="userpasswordval"class="form-control" placeholder="Enter your password">
                            </div>
                       
                            <div class="form-group  col-md-6">
                                <label for="phone number">Phone Number</label>
                                <input type="text" id = "phone number"
                                [(ngModel)] = "UserMasterObj.User_Phone"  formControlName="userphoneval"class="form-control" placeholder="Enter phone number">
                            </div>
                            </div>
                            <div class="row">
                                <div class="form-group  col-md-12">
                                    <label for="address">Address</label>
                                    <textarea 
                                    [(ngModel)]="UserMasterObj.User_Address" id = "address" class="form-control" 
                                    formControlName="useraddressval" placeholder="Enter your Address"></textarea>  
                                </div>
                            
                           
                               
                            </div>
                            <div class="row">
                                <div class="form-group  col-md-6">
                                    <label for="city">City</label>
                                    <input type="text" id = "city"  
                                    [(ngModel)] = "UserMasterObj.User_City"  formControlName="usercityval"class="form-control" placeholder="Enter your city">
                                </div>
                            
                                <div class="form-group  col-md-6">
                                    <label for="country">Country</label>
                                    <input type="text" id = "country" 
                                    [(ngModel)] = "UserMasterObj.User_Country"  formControlName="usercountryval"class="form-control" placeholder="Enter your country"> 
                                </div>
                           
                            </div>
                            <div class="row">
                                <div class="form-group  col-md-6">
                                    <label for="zip">Zip</label>
                                    <input type="text" id = "zip" 
                                    [(ngModel)] = "UserMasterObj.User_Zip"  formControlName="userzipval"class="form-control" placeholder="Enter your zip"> 
                                </div>
                            
                                <div class="form-group  col-md-6">
                                    <label for="dob">Date Of Birth</label>
                                    <input type="date" id="dob"
                                    [(ngModel)] = "UserMasterObj. User_DOB"  formControlName="userdobval"class="form-control" placeholder="Enter your date of birthday" > 
                                </div>
                               
                                </div>
                                <div class="row">
                            
                                    <div class="form-group  col-md-6">
                                        <input type="submit" class="btn btn-primary" value="Submit">
                                    </div>
                                    </div>
                         
                       </form>
                  
                </div>
            </div>
          
        </div>