<div class="container">
    <div class="card">
        <div class="card-body">
            <form [formGroup] ="formUsrCommonGroup" (ngSubmit)="formButton()">
                <div class="form-group col-md-12 text-center module-subheader" >
                    <h5 > Location Info </h5>
                  </div>
                <div class="row">
                    <div class="form-group  col-xl-6">
                        <label for="password" >Location Name<span style="color: red">*</span></label>

                        <input type="text" id = "Name" 
                        [(ngModel)] = "AddLocationMasterModelObj.Loc_Name" 
                        
                         formControlName="Loc_Name"class="form-control" placeholder="Enter Location Name ">
                         
                        </div>
                        <div class="form-group  col-xl-6">
                            <label for="password">Zip<span style="color: red">*</span></label>&nbsp;&nbsp;
                            <input type="text" id = "Name"
                              [(ngModel)] = "AddLocationMasterModelObj.Loc_Zip"  formControlName="Loc_Zip"class="form-control" placeholder="Enter Zip ">
                              
                            
                           
                            </div>
                            
                                </div>
               
                            <div class="row">
                                    <div class="form-group  col-xl-6">
                                        <label for="Number"> Location Address<span style="color: red">*</span></label>&nbsp;&nbsp;
                                       
                                        <textarea  id ="Name" class="form-control"
                                 [(ngModel)]="AddLocationMasterModelObj.Loc_Description" formControlName="Loc_Description" placeholder="Enter Location Address"></textarea>
                                        </div>
                                        
                                            
                                    </div>
                                    
                                  

                                   

                               
                            <div class="row">
                            
                                <div class="form-group  col-md-6">
                                    <input type="submit" class="btn btn-primary" value="Submit">&nbsp;&nbsp;
                                    <button id="client_viewdetail_1" [routerLink]="['/home/locationmaster/viewlocationmaster']" class="btn btn-primary"
                                    style="margin-left:6px"><i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>
                                </div>
                               
                                </div>

            </form>
            </div>
        </div>
    </div>  



