<div class="sb2-2">
    
    <div class="row">
        
        <div class="box-inn-sp">
            <div class="tab-inn">
                <div class="row">
                    <div class="input-field col s6" style="text-align: left;">
                        <h3 style="margin-left: 15px;">Users Master List</h3>
                    </div>
                    
                </div><br><br>
               
                
                <kendo-grid #gridUser [kendoGridBinding]="gridView" [pageSize]="10" [pageable]="true" [sortable]="true"
                    [selectable]="true" [groupable]="false" [reorderable]="true" [filterable]="true"
                    >
                    <!-- [columnMenu]="{ filter: true }" -->
                    <ng-template kendoGridToolbarTemplate>
                        <!-- <input placeholder="Search in all columns..." kendoTextBox (input)="onFilter($event.target.value)"/> -->
                        <!-- <input placeholder="Search in all columns..." kendoTextBox [(ngModel)]="searchText"/> -->
                        <!-- <button kendoGridExcelCommand type="button" icon="file-excel" style="float:right;">Export to Excel</button>
                        <button kendoGridPDFCommand icon="file-pdf" style="float:right;">Export to PDF</button> -->
                    </ng-template>
                    <!-- <kendo-grid-column  title="Action" width="60" 
                    [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}">
                  
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                          
                            <a class="edit" (click)="showDetails($event, dataItem)" data-placement="top"
                                title="view Records">
                                <i class="fa fa-eye"></i> &nbsp; &nbsp; View 
                            </a>
                           
                           
                        </ng-template>
                    </kendo-grid-column> -->
   
                    <!-- [columnMenu]="true" -->
                   <kendo-grid-column  width="100" field="User_Name" title="Name" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                   <kendo-grid-column width="100" field="User_Email"  title="E-Mail" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                   <kendo-grid-column  width="70" field="User_Phone"  title="Phone Number"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                   <kendo-grid-column  width="70" field="countBuss"  title="Total No of Buisness"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                   <kendo-grid-column  width="70" field="countRating"  title="Total No Likes"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                   <kendo-grid-column  width="70" field="countvisit"  title="Total No Visit"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                   <kendo-grid-column  width="70" field="User_Address"  title="Address"  [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"></kendo-grid-column>
                   <kendo-grid-column width="70"  field="User_IsActive" title="Active" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}">
                   
                   <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" >
                    
                            
                            <!-- height="70" width="100" style="border-radius:10px;" alt=""/>  -->
                            <!-- <input  style="margin-left: 10px;" type="checkbox">     -->
                            <!-- <div class="custom-control custom-switch">
                                <input type="checkbox" (change)="checkChange($event, dataItem)"
                                    class="custom-control-input" id="switchisActive{{i}}"
                                    [checked]="dataItem.WI_IsActive">
                                <label class="custom-control-label"
                                    for="switchisActive{{i}}"></label>
                            </div> -->
                            <label class="switch" style="margin-left: 10px;">
                                <input [checked]="dataItem.User_IsActive" (change)="checkChanges($event ,dataItem)" type="checkbox">
                                <span class="slider round" style=" height: 32px;"></span>
                              </label> 
                             
                            <!-- <input id="newProd_IsAvailable" type="checkbox" name="demo-checkbox" value="isavailable" /> <i class="icon icon-checkbox"></i>                -->
                    </ng-template>
                </kendo-grid-column>
                
                
                   <!-- <kendo-grid-column  width="70" field="Um_SubscriptionDate" title="Subs Date"  
                   [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}"
                   format="{0:d}">
                   </kendo-grid-column> -->
                   <!-- <kendo-grid-column  title="Select" [columnMenu]="false" width="40" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}">
                  
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        
                       <input  style="margin-left: 10px;" type="checkbox">
                   
                       
                    </ng-template>
                </kendo-grid-column>
                   <kendo-grid-column  title="Delete" [columnMenu]="false" width="60" [headerStyle]="{'background-color': '#323232','color': '#fff','line-height': '1em'}">
                  
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        
                        <a (click)="OndeleteRow($event, dataItem)" 
                        style="color: red; font-size: 20px;" title="Delete Record">
                        <i style="margin-left: 25px;" class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                        
                    </ng-template>
                </kendo-grid-column> -->
                    <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                     
                     <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
   
                     <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
                     <kendo-pager-next-buttons></kendo-pager-next-buttons>
                     <kendo-pager-info></kendo-pager-info>
                     <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
   
                    </ng-template>
   
                </kendo-grid>
                <!-- <div class="row">
                    <div class="input-field col s12" style="text-align: left;">
                       
                        <button style="float: right;" class="btn btn-primary" (click)="onSaveData()">Submit</button> 
                    </div>
                    
                </div> -->
            </div>
        </div>

    </div>

</div>