


 <div class="mt-4">
    <div class="module-box-header">
        <h4>User Profile</h4>
    </div>
    <div class="card-body module-box">

        <form [formGroup]="personalForm" (ngSubmit)="onSubmit(personalForm.value)" class="row">

          

          <label class="form-control-label col-md-2">First Name</label>
            <div class="form-group col-md-4" [ngClass]="{'has-danger' : personalForm.get('firstname').touched && personalForm.get('firstname').hasError('required'), 'has-success' : !personalForm.get('firstname').hasError('required') }">
                <input [(ngModel)]="ProfileModelObj.Ipl_Ad_User_First_Name" formControlName="firstname" class="form-control" [ngClass]="{'form-control-danger' :  personalForm.get('firstname').hasError('required'), 'form-control-success' :  !personalForm.get('firstname').hasError('required') }" type="text"> 
                <small class="text-danger" *ngIf="personalForm.get('firstname').touched && personalForm.get('firstname').hasError('required')">First Name is required</small>                             
            </div>

            <label class="form-control-label col-md-2">Last Name</label>
            <div class="form-group col-md-4" [ngClass]="{'has-danger' : personalForm.get('lastname').touched && personalForm.get('lastname').hasError('required'), 'has-success' : !personalForm.get('lastname').hasError('required') }">
                <input  [(ngModel)]="ProfileModelObj.Ipl_Ad_User_Last_Name" formControlName="lastname" class="form-control" [ngClass]="{'form-control-danger' :  personalForm.get('lastname').hasError('required'), 'form-control-success' :  !personalForm.get('lastname').hasError('required') }" type="text"> 
                <small class="text-danger" *ngIf="personalForm.get('lastname').touched && personalForm.get('lastname').hasError('required')">Last Name is required</small>                             
            </div>
            <label class="form-control-label col-md-2">User Name</label>
            <div class="form-group col-md-4" [ngClass]="{'has-danger' : personalForm.get('username').touched && personalForm.get('username').hasError('required'), 'has-success' : !personalForm.get('username').hasError('required') }">
              <input  [(ngModel)]="ProfileModelObj.Ipl_Ad_User_Login_Name" formControlName="username" class="form-control" [ngClass]="{'form-control-danger' :  personalForm.get('username').hasError('required'), 'form-control-success' :  !personalForm.get('username').hasError('required') }" type="text"> 
              <small class="text-danger" *ngIf="personalForm.get('username').touched && personalForm.get('username').hasError('required')">User Name is required</small>                             
          </div>

          <label class="form-control-label col-md-2">Contact email</label>
            <div class="form-group col-md-4" [ngClass]="{'has-danger' : (personalForm.get('email').touched && personalForm.get('email').hasError('required')) || (personalForm.get('email').touched && personalForm.get('email').hasError('invalidEmail')), 
                                                         'has-success' : !personalForm.get('email').hasError('required') && !personalForm.get('email').hasError('invalidEmail')}">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-envelope"></i></span></div>
                    <input [(ngModel)]="ProfileModelObj.Ipl_Ad_User_Email" formControlName="email" class="form-control" [ngClass]="{'form-control-danger' : (personalForm.get('email').touched && personalForm.get('email').hasError('required')) || (personalForm.get('email').touched && personalForm.get('email').hasError('invalidEmail')), 
                                                                                    'form-control-success' :  !personalForm.get('email').hasError('required') && !personalForm.get('email').hasError('invalidEmail')}" type="text">                      
                </div>
                <small class="text-danger" *ngIf="personalForm.get('email').touched && personalForm.get('email').hasError('required')">Email is required</small>                              
                <small class="text-danger" *ngIf="personalForm.get('email').touched && personalForm.get('email').hasError('invalidEmail')">Invalid email address</small>
            </div>

            <label class="form-control-label col-md-2">Phone</label>
            <div class="form-group col-md-4" [ngClass]="{'has-danger' : personalForm.get('phone').touched && personalForm.get('phone').hasError('required'), 'has-success' : !personalForm.get('phone').hasError('required') }">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-phone"></i></span></div>
                    <input [(ngModel)]="ProfileModelObj.Ipl_Ad_User_Mobile" formControlName="phone" class="form-control" [ngClass]="{'form-control-danger' :  personalForm.get('phone').hasError('required'), 'form-control-success' :  !personalForm.get('phone').hasError('required') }" type="number"> 
                </div>
                <small class="text-danger" *ngIf="personalForm.get('phone').touched && personalForm.get('phone').hasError('required')">Phone is required</small>                             
            </div>
<!-- 
            <div class="col-md-6">
              <div class="row"> -->
                <label class="form-control-label col-md-2">City</label>
            <div class="form-group col-md-4" [ngClass]="{'has-danger' : personalForm.get('city').touched && personalForm.get('city').hasError('required'), 'has-success' : !personalForm.get('city').hasError('required') }">
              <input  [(ngModel)]="ProfileModelObj.Ipl_Ad_User_City" formControlName="city" class="form-control" [ngClass]="{'form-control-danger' :  personalForm.get('city').hasError('required'), 'form-control-success' :  !personalForm.get('city').hasError('required') }" type="text"> 
              <small class="text-danger" *ngIf="personalForm.get('city').touched && personalForm.get('city').hasError('required')">City is required</small>                             
          </div>

          <label class="form-control-label col-md-2">State</label>
          <div class="form-group col-md-4" [ngClass]="{'has-danger' : personalForm.get('state').touched && personalForm.get('state').hasError('required'), 'has-success' : !personalForm.get('state').hasError('required') }">
            <input  [(ngModel)]="ProfileModelObj.Ipl_Ad_User_State" formControlName="state" class="form-control" [ngClass]="{'form-control-danger' :  personalForm.get('city').hasError('required'), 'form-control-success' :  !personalForm.get('city').hasError('required') }" type="text"> 
            <small class="text-danger" *ngIf="personalForm.get('state').touched && personalForm.get('state').hasError('required')">State is required</small>                             
        </div>
              <!-- </div>
            </div> -->
            
            <!-- <div class="col-6"> -->
              <!-- <div class="row"> -->
                <label class="form-control-label col-md-2">Password</label>
                <div class="form-group col-md-4">
                  <input  [(ngModel)]="ProfileModelObj.Ipl_Ad_User_Password" formControlName="password" class="form-control" type="password"> 
                  <small class="text-danger" *ngIf="personalForm.get('password').touched && personalForm.get('password').hasError('required')">Password is required</small>                              
                  <small class="text-danger" *ngIf="personalForm.get('password').touched && personalForm.get('password').hasError('minlength')">Password isn't long enough, minimum of 6 characters</small>                          
              
              </div>
              <label class="form-control-label col-md-2">Confirm Password</label>
              <div class="form-group col-md-4">
                  <input  type="password" [(ngModel)]="ProfileModelObj.cnfflag" class="form-control" formControlName="cnfflag"> 
                  <span style="color: red;">{{matchpsd}}</span>                  
              </div>
              <!-- </div> -->
            <!-- </div> -->
            
            
            <label class="form-control-labe col-md-2">Address</label>
            <div class="form-group col-md-4">
                <textarea [(ngModel)]="ProfileModelObj.Ipl_Ad_User_Address" formControlName="address" class="form-control"></textarea>
            </div> 
           
         
                <!-- <button [disabled]="!personalForm.valid" class="btn btn-success" type="submit">Update</button> -->
                <div class="form-group col-12 text-center">
                  <div class="justify-content-center">
                    <label for="InvestmentSihhhze" *ngIf="personalForm.invalid" style="color:red">*
                      fields is required
                    </label> <br>
                    <button  class="btn btn-primary" *ngIf="IsEditDisable" (click)="EditForms()">
                      <i class="fa fa-edit mr-1"></i> Edit
                    </button>
                    <button  class="btn btn-primary" type="submit" *ngIf="!IsEditDisable"
                      [disabled]="isLoading">
                      <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
                      {{button}}
                    </button>
                    <button  (click)="back()" class="btn btn-primary"
                      style="margin-left:6px"><i class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>
                  </div>
                </div>
              
        </form>

    </div>
</div> 