<div class="">
  <div class="">
    <div class="module-box card-body">
    <div class="">
      <!-- <h3>Add User</h3> -->
      
      <form [formGroup]="form" >
      <div class="row">
        <div class="col-2">
          <label >First Name</label>
        </div>
        <div class="col-4">
        <input type="text" class="form-control" [(ngModel)]="AddUserModelObj.Ipl_Ad_User_First_Name"
        formControlName="firstnameval" placeholder="Enter First Name">
        </div>
        <div class="col-2">
          <label >Last Name</label>
        </div>
        <div class="col-4">
        <input type="text" class="form-control"  [(ngModel)]="AddUserModelObj.Ipl_Ad_User_Last_Name"
         formControlName="lastnameval" placeholder="Enter Last Name">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-2">
          <label >User Name</label>
        </div>
        <div class="col-4">
        <input type="text" class="form-control"  [(ngModel)]="AddUserModelObj.Ipl_Ad_User_Login_Name"
        formControlName="usernameval" placeholder="Enter User Name">
        </div>
        <div class="col-2">
          <label >Email</label>
        </div>
        <div class="col-4">
        <input type="email" class="form-control" [(ngModel)]="AddUserModelObj.Ipl_Ad_User_Email"
        formControlName="emialval" placeholder="Enter Email">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-2">
          <label >City</label>
        </div>
        <div class="col-4">
        <input type="text" class="form-control" [(ngModel)]="AddUserModelObj.Ipl_Ad_User_City"
         formControlName="cityval"  placeholder="Enter City">
        </div>
        <div class="col-2">
          <label >State</label>
        </div>
        <div class="col-4">
        <input type="text" class="form-control" [(ngModel)]="AddUserModelObj.Ipl_Ad_User_State"
         formControlName="stateval" placeholder="Enter State">
        </div>
      </div> <br>
      <div class="row">
        <div class="col-2">
          <label >Password</label>
        </div>
        <div class="col-4">
        <input type="password" class="form-control"  [(ngModel)]="AddUserModelObj.Ipl_Ad_User_Password"
        formControlName="psdval" placeholder="Enter Password">
       
        </div>
       
        <div class="col-2">
          <label >Confirm Password</label>
        </div>
        <div class="col-4">
        <input type="password" class="form-control"  [(ngModel)]="AddUserModelObj.cnfflag"
        formControlName="cnfpsdval" placeholder="Enter Confirm Password">
        </div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-4"><span style="color: red;">{{matchpsd}}</span></div>
      </div>
      <br>
      <div class="row">
        <div class="col-6 m-0">
          <div class="row">
            <div class="col-4">
              <label >Mobile</label>
            </div>
            <div class="col-8">
            <input type="number" class="form-control" [(ngModel)]="AddUserModelObj.Ipl_Ad_User_Mobile"
            formControlName="mobileval" placeholder="Enter Moble Number">
            </div>
            
            <div class="col-4 mt-3">
              <label>Active</label>
            </div>
            <div class="col-8 mt-3"> 
            <input type="checkbox" [(ngModel)]="AddUserModelObj.Ipl_Ad_User_IsActive"
            formControlName="activeval">
            </div>
          </div>
        </div>
        <div class="col-2">
          <label >Address</label>
        </div>
        <div class="col-4">
       <textarea class="form-control" [(ngModel)]="AddUserModelObj.Ipl_Ad_User_Address"
       formControlName="addressval" rows="5" ></textarea>
        </div>
      </div>
      
      
      <div class="row">
        <div class="col-md-3 col-12">
          <input type="submit" class="btn btn-primary"  (click)="submit()" value="Save">&nbsp;&nbsp;
          <button class="btn btn-primary"[routerLink]="['/home/user/viewuser']" style="margin-left: 20px;">Back</button>
        </div>
        
      </div>
    </form>
    </div>
    </div>
  </div>
</div>

