<div class="container">
    <div class="card">
        <div class="card">
            <form [formGroup]="formUsrCommonGroup">
                <div class="form-group col-md-12 text-center module-subheader">
                    <h5>Bin Master Info </h5>
                </div>
                <div class="row">
                    <!-- <div class="form-group  col-xl-4">
                        <label for="password">Bin Image<span style="color: red">*</span></label>
                <div class="form-group ml-4  col-sm-6">
                <img src="{{binmasterModelObj.Bin_Image_Path}}" style="width: 100px; height: 100px;" alt="" />
            </div>
            
        </div> -->
        <div class="form-group  col-xl-4">
            <label for="password">Bin Qr Image<span style="color: red">*</span></label>
    <div class="form-group ml-4  col-sm-6">
        <div  id="print-index-invoice">
    <img  src="{{binmasterModelObj.Bin_QR_PrintPath}}" style="width: 100px; height: 100px;" alt="" />
</div>
    <i class="fa fa-download" style="font-size:30px;color:blue" (click)="DownloadProfilePic($event)"></i>
</div>

</div>
    </div>
                <div class="row">
                    <div class="form-group  col-xl-4">
                        <label for="password">Bin Name<span style="color: red">*</span></label>

                        <input type="text" id="Name" readonly="isReadOnly" [(ngModel)]="binmasterModelObj.Bin_Name"
                            formControlName="Bin_Name" class="form-control" placeholder="Bin Name ">
                    </div>

                    <div class="form-group  col-xl-4">
                        <label for="password">Quantity<span style="color: red">*</span></label>&nbsp;&nbsp;

                        <input type="text" id="Name" readonly="isReadOnly" [(ngModel)]="binmasterModelObj.Bin_Quantity"
                            formControlName="Bin_Quantity" class="form-control" placeholder="Quantity ">

                    </div>
                    <div class="form-group  col-xl-4">
                        <label for="Number">Bin Unit<span style="color: red">*</span></label>&nbsp;&nbsp;

                        <input type="text" id="Name" readonly="isReadOnly" [(ngModel)]="binmasterModelObj.Bin_Unit"
                            formControlName="Bin_Unit" class="form-control" placeholder="Unit">
                    </div>
                </div>
                <div class="row">

                </div>
                <div class="row">

                    <div class="form-group  col-xl-4">
                        <label for="Number">Bin Shelf<span style="color: red">*</span></label>&nbsp;&nbsp;

                        <input type="text" id="Name" readonly="isReadOnly" [(ngModel)]="binmasterModelObj.Bin_Shelf"
                            formControlName="Bin_Shelf" class="form-control" placeholder="Bin Shelf">
                    </div>
                    <div class="form-group  col-xl-4">
                        <label for="Number">Location<span style="color: red">*</span></label>&nbsp;&nbsp;

                        <input type="text" id="Loc_Name" readonly="isReadOnly" [(ngModel)]="binmasterModelObj.Loc_Name"
                            formControlName="Loc_Name" class="form-control" placeholder="Location">
                    </div>



                </div>
                <div class="row">
                    <div class="form-group  col-xl-12">
                        <label for="password">Description<span style="color: red">*</span></label>&nbsp;&nbsp;

                        <!-- <input type="text" id = "Name" readonly="isReadOnly"
                                        [(ngModel)] = "binmasterModelObj.Bin_Description"  formControlName="Bin_Description" class="form-control" placeholder=" Description "> -->
                        <textarea readonly="isReadOnly" [(ngModel)]="binmasterModelObj.Bin_Description"
                            formControlName="Bin_Description" class="form-control"
                            placeholder=" Description "></textarea>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group  col-md-6">
                        <input type="button" (click)="openXl(content)" class="btn btn-primary"
                            value="View product details">&nbsp;&nbsp;
                        <button id="client_viewdetail_1" [routerLink]="['/home/bin-master/viewbinmaster']"
                            class="btn btn-primary" style="margin-left:6px"><i
                                class="fas fa-arrow-alt-circle-left mr-1"></i> Back</button>
                        <!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openXl(content)">Extra large modal</button> -->
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Products Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <div class="row">
            <div class="form-group ml-4  col-sm-6">
            <img src="{{promasterModelObj.ProImage_ImagePath}}" style="width: 100px; height: 100px;" alt="" />
        </div>
        </div>
        <div class="row">


            <div class="form-group  col-sm-2">
                <label for=""><b>Product Name: </b> </label>


            </div>
            <div class="form-group  col-sm-2">
                <label for="">{{promasterModelObj.Pro_Name}} </label>
            </div>
            <div class="form-group  col-sm-2">
                <label for=""><b>Product Brand Name: </b> </label>


            </div>
            <div class="form-group  col-sm-2">
                <label for="">{{promasterModelObj.Pro_BrandName}} </label>
            </div>

            <div class="form-group  col-sm-2">
                <label for=""><b>Product Color: </b> </label>


            </div>
            <div class="form-group  col-sm-2">
                <label for="">{{promasterModelObj.Pro_Color}} </label>
            </div>
        </div>
        
        <div class="row">


            <div class="form-group  col-sm-2">
                <label for=""><b>Product Condition: </b> </label>


            </div>
            <div class="form-group  col-sm-2">
                <label for="">{{promasterModelObj.Pro_Condition}} </label>
            </div>
            <div class="form-group  col-sm-2">
                <label for=""><b>Product Shelf: </b> </label>


            </div>
            <div class="form-group  col-sm-2">
                <label for="">{{promasterModelObj.Pro_Bin_Shelf}} </label>
            </div>

            <div class="form-group  col-sm-2">
                <label for=""><b>Product Unit: </b> </label>


            </div>
            <div class="form-group  col-sm-2">
                <label for="">{{promasterModelObj.Pro_Bin_Unit}} </label>
            </div>
        </div>
        <div class="row">


            <div class="form-group  col-sm-2">
                <label for=""><b>Product Size: </b> </label>


            </div>
            <div class="form-group  col-sm-2">
                <label for="">{{promasterModelObj.Pro_Size}} </label>
            </div>
            <div class="form-group  col-sm-2">
                <label for=""><b>Product Bin Name: </b> </label>


            </div>
            <div class="form-group  col-sm-2">
                <label for="">{{promasterModelObj.Bin_Name}} </label>
            </div>

            <div class="form-group  col-sm-2">
                <label for=""><b>Product Vendor Name: </b> </label>


            </div>
            <div class="form-group  col-sm-2">
                <label for="">{{promasterModelObj.Pro_Vendor_Name}} </label>
            </div>
        </div>
        <div class="row">


            <div class="form-group  col-sm-2">
                <label for=""><b>Product Description: </b> </label>


            </div>
            <div class="form-group  col-sm-10">
                <label for="">{{promasterModelObj.Pro_Desc}} </label>
            </div>
            
        </div> -->
        <div class="row m-0">
   
          <kendo-grid #gridUser [kendoGridBinding]="griddata" [pageSize]="15" [pageable]="true" [sortable]="true"
                [filterable]="false" [selectable]="true" [groupable]="false" class="module-box" style="width:100%;">
                <kendo-grid-column *ngFor="let column of gridColumns" 
                  [field]="column.field" 
                  [title]="column.title" 
                  [headerStyle]="{'line-height': '1em'}" 
                  [width]="80">
                </kendo-grid-column>
                <kendo-grid-column width="80" title="Images"
                [headerStyle]="{'line-height': '1em'}">
                <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-sm-4">
                                <img src="{{dataItem.ProImage_ImagePath}}" height="80" width="100"
                                    style="border-radius:10px;" alt="" />
                               
                            </div>
                        </div>
                    </div>
                  
                </ng-template>
            </kendo-grid-column>
            <!-- <kendo-grid-column width="80" title="Bin QR Images"
            [headerStyle]="{'line-height': '1em'}">
            <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex">
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-sm-4">
                            <img src="{{dataItem.Bin_QR_Path}}" height="80" width="100"
                                style="border-radius:10px;" alt="" />
                           
                        </div>
                    </div>
                </div>
            </ng-template>
        </kendo-grid-column> -->
                <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                  <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                  <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
                  <kendo-pager-next-buttons></kendo-pager-next-buttons>
                  <kendo-pager-info></kendo-pager-info>
                  <kendo-pager-page-sizes [pageSizes]="[15, 30, 50, 100]"></kendo-pager-page-sizes>
                </ng-template>
              </kendo-grid>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>